<div *ngIf="product">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="{{product.coverImage}}" width="max-width" />
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{product.name}}</h1>
                        <p>{{product.description}}</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">{{product.price}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/img/placeholder.png" width="140" height="140" />
                <h2>{{product.heading1}}</h2>
                <p>{{product.headingtext1}}</p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/img/placeholder.png" width="140" height="140" />
                <h2>{{product.heading1}}</h2>
                <p>{{product.headingtext2}}</p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/img/placeholder.png" width="140" height="140" />
                <h2>{{product.heading1}}</h2>
                <p>{{product.headingtext3}}</p>
            </div>
        </div>
    </div>

</div>